jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
      - uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: sigstore/cosign-installer@v3
      - name: sign checksums
        run: cosign sign-blob --yes \
            --annotation="tag=${GITHUB_REF_NAME}" \
            dist/checksums.txt
